/* Login.css */

/* Variables de color */
:root {
    --dark: #16191C;
    --dark-x: #1E2126; 
    --light: #ffffff;
}

/* Estilo general */
body {
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    color: var(--light);
}

/* Estilos para el fondo oscuro y el texto claro */
.bg-dark { background-color: var(--dark) !important; }
.bg-dark-x { background-color: var(--dark-x); }
.text-light { color: var(--light) !important; }

.text-cont {
    color: #000000 !important;
}

/* Estilos para los botones */
.btn {
    min-height: 3.125rem;
    font-weight: 600;
}

/* Estilos para los campos de formulario */
.form-control {
    min-height: 3.125rem;
    line-height: initial;
}
.form-control:focus {
    background-color: var(--dark-x);
    outline: none;
}

/* Estilos para las imágenes de fondo del carrusel */
.img-1 {
    background-image: url('./DiseñoImg/1.png');
    background-size: cover;
    background-position: center;
}
.img-2 {
    background-image: url('./DiseñoImg/2.png');
    background-size: cover;
    background-position: center;
}
.img-3 {
    background-image: url('./DiseñoImg/3.png');
    background-size: cover;
    background-position: center;
}
.img-4 {
    background-image: url('./DiseñoImg/4.png');
    background-size: cover;
    background-position: center;
}

.imgp-1 {
    background-image: url('./DiseñoImg/pelicula1.webp');
    background-size: cover;
    background-position: center;
}
.imgp-2 {
    background-image: url('./DiseñoImg/peliculas2.jpg');
    background-size: cover;
    background-position: center;
}
.imgp-3 {
    background-image: url('./DiseñoImg/peliculas3.jpg');
    background-size: cover;
    background-position: center;
}
.imgp-4 {
    background-image: url('./DiseñoImg/peliculas4.jpg');
    background-size: cover;
    background-position: center;
}

.imgs-1 {
    background-image: url('./DiseñoImg/series1.webp');
    background-size: cover;
    background-position: center;
}
.imgs-2 {
    background-image: url('./DiseñoImg/series2.avif');
    background-size: cover;
    background-position: center;
}
.imgs-3 {
    background-image: url('./DiseñoImg/series3.webp');
    background-size: cover;
    background-position: center;
}
.imgs-4 {
    background-image: url('./DiseñoImg/series4.webp');
    background-size: cover;
    background-position: center;
}
.imgl-1 {
    background-image: url('./DiseñoImg/libros1.webp');
    background-size: cover;
    background-position: center;
}
.imgl-2 {
    background-image: url('./DiseñoImg/libros2.jpg');
    background-size: cover;
    background-position: center;
}
.imgl-3 {
    background-image: url('./DiseñoImg/libros3.jpg');
    background-size: cover;
    background-position: center;
}
.imgl-4 {
    background-image: url('./DiseñoImg/libros4.jpg');
    background-size: cover;
    background-position: center;
}
/* Estilo general para los mensajes de error y éxito */
.message {
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 1rem;
    text-align: center;
}

/* Estilo para mensajes de éxito */
.message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

/* Estilo para mensajes de error */
.message.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
