:root {
    --dark: #16191c;
    --dark-x: #1e2126;
    --light: #ffffff;
}
.text-cont {
    color: #000000 !important;
}

body {
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    color: var(--light);
    background-color: var(--dark);
}

h4 {
    font-weight: 600;
    color: var(--light); 
}

h4 span {
    font-weight: 300;
    color: var(--light); 
}

.card {
    background-color: var(--dark-x);
    border: none;
}

.card-body {
    padding: 2rem;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid var(--light);
    margin-bottom: 20px;
}

.info-group {
    text-align: center;
    margin-bottom: 10px;
}

.info-group p {
    margin: 0;
    font-weight: 600;
    color: var(--light);
}

.info-group span {
    font-weight: 300;
    color: #cccccc; /* Este es un tono más claro para el texto */
}

.buttons {
    margin-top: 20px;
    text-align: center;
}

.buttons a, .buttons button {
    text-decoration: none;
    font-weight: bold;
    color: var(--light);
    border: 2px solid var(--light);
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}

.buttons a:hover, .buttons button:hover {
    background-color: var(--light);
    color: var(--dark);
}



/* Estilo general del formulario */
.formulario {
    background-color: var(--light);
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.formulario {
    background-color: var(--light); 
    border-radius: 5px; 
    padding: 2rem; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-control {
    background-color: var(--dark-x);
    color: var(--light); 
    border: 1px solid var(--light); 
}

.form-control:focus {
    background-color: var(--dark-x); 
    border-color: var(--light); 
    outline: none; 
}

label {
    font-weight: 600;
    color: var(--light); 
}

.form-control-file {
    background-color: var(--dark-x); 
    color: var(--light); 
    border: 1px solid var(--light); 
}




